ClienteSoap02Trabajador/src/main/resources/SibTrabajadorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://ws.cesar.com/" name="SibTrabajadorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.cesar.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.cesar.com/" schemaLocation="SibTrabajadorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listarTodo">
    <part name="parameters" element="tns:listarTodo"/>
  </message>
  <message name="listarTodoResponse">
    <part name="parameters" element="tns:listarTodoResponse"/>
  </message>
  <message name="encontrarTrabajador">
    <part name="parameters" element="tns:encontrarTrabajador"/>
  </message>
  <message name="encontrarTrabajadorResponse">
    <part name="parameters" element="tns:encontrarTrabajadorResponse"/>
  </message>
  <message name="crearTrabajador">
    <part name="parameters" element="tns:crearTrabajador"/>
  </message>
  <message name="crearTrabajadorResponse">
    <part name="parameters" element="tns:crearTrabajadorResponse"/>
  </message>
  <portType name="TrabajadorService">
    <operation name="listarTodo">
      <input message="tns:listarTodo"/>
      <output message="tns:listarTodoResponse"/>
    </operation>
    <operation name="encontrarTrabajador">
      <input message="tns:encontrarTrabajador"/>
      <output message="tns:encontrarTrabajadorResponse"/>
    </operation>
    <operation name="crearTrabajador">
      <input message="tns:crearTrabajador"/>
      <output message="tns:crearTrabajadorResponse"/>
    </operation>
  </portType>
  <binding name="SibTrabajadorPortBinding" type="tns:TrabajadorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listarTodo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="encontrarTrabajador">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearTrabajador">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SibTrabajadorService">
    <port name="SibTrabajadorPort" binding="tns:SibTrabajadorPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

