ClienteSoapFutbolista/src/main/resources/FutbolistaSibService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://service.cesar.futbol.com/" name="FutbolistaSibService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.cesar.futbol.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.cesar.futbol.com/" schemaLocation="FutbolistaSibService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listarTodos">
    <part name="parameters" element="tns:listarTodos"/>
  </message>
  <message name="listarTodosResponse">
    <part name="parameters" element="tns:listarTodosResponse"/>
  </message>
  <message name="encontrarFutbolista">
    <part name="parameters" element="tns:encontrarFutbolista"/>
  </message>
  <message name="encontrarFutbolistaResponse">
    <part name="parameters" element="tns:encontrarFutbolistaResponse"/>
  </message>
  <message name="crearFutbolista">
    <part name="parameters" element="tns:crearFutbolista"/>
  </message>
  <message name="crearFutbolistaResponse">
    <part name="parameters" element="tns:crearFutbolistaResponse"/>
  </message>
  <portType name="FutbolistaSei">
    <operation name="listarTodos">
      <input message="tns:listarTodos"/>
      <output message="tns:listarTodosResponse"/>
    </operation>
    <operation name="encontrarFutbolista">
      <input message="tns:encontrarFutbolista"/>
      <output message="tns:encontrarFutbolistaResponse"/>
    </operation>
    <operation name="crearFutbolista">
      <input message="tns:crearFutbolista"/>
      <output message="tns:crearFutbolistaResponse"/>
    </operation>
  </portType>
  <binding name="FutbolistaSibPortBinding" type="tns:FutbolistaSei">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listarTodos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="encontrarFutbolista">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="crearFutbolista">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FutbolistaSibService">
    <port name="FutbolistaSibPort" binding="tns:FutbolistaSibPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

